<h2 class="pageHeaders">About</h2>
<div id="aboutMe" class="wideContentContainer">
    <img id="imgAndrew" src="~/Styles/ImageContent/Andrew.png" />
    <div class ="wideContentSection">
        <p>
            Welcome! I hope your visit to my site has been enjoyable. I'm Andrew, a 
            programmer living in the Louisville, Ky area. 
        </p>
        <p>
            I never considered IT as a career until 2011, when I took a VB.NET class 
            late into my coursework for industrial engineering at the University of
            Louisville. I fell hard for programming when I used a genetic algorithm to
            generate solutions to a travelling salesman problem. I followed up with an 
            inependent study in which I used swarm intelligence to generate efficient 
            layouts for factory departments. I had the sense to finish my bachelor's 
            degree, but I used every project from then on as an excuse to work with code. 
            I left the industrial engineering master's program shortly after starting it 
            to pursue software development professionally.  
        </p>
        <p>
            I've spent a lot of time training myself in C# and SQL to be marketable in a 
            city that's curiously dominated by Microsoft technology. I'm proud of the progress
            I've made - I'm currently the lead developer at Software Management, a small 
            company that works with county governments across Kentucky to manage land records
            and property tax collection. It's not attractive work, but I enjoy being able to meet
            a real need of real people by making this sort of data more accesible. Ultimately, I'm
            happy so long as I'm learning to craft software that is as delightful to use as it is 
            helpful to its audience, built in such a way that quality is evident to both the user 
            and the discerning developer.
        </p>
        <p>
            I believe in trying to maintain a balanced life. When not coding, I enjoy banjo, 
            singing, cooking, board games, Netflix, and spending time with my lovely wife.
        </p>
        <h4>Contact</h4>
        <p>
            I love constructive criticism - fire away. By the same token, if you think I can
            help you, I'll do my best to be of service. 
        </p>
        <ul class="social-media">
            <li>
                <a href="https://twitter.com/andrewtyped" target="_blank" title="twitter">
                    <i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/andrewtyped" target="_blank" title="github">
                    <i class="fa fa-3x fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="mailto:andrewtyped@gmail.com" target="_blank" title="email">
                    <i class="fa fa-3x fa-envelope" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>