<h2 class="pageHeaders">About</h2>
<div id="aboutMe" class="wideContentContainer">
    <img id="imgAndrew" src="~/Styles/ImageContent/Andrew.png" />
    <div class ="wideContentSection">
        <p>
            Welcome! I hope your visit to my site has been enjoyable. I'm Andrew, a programmer living in the Louisville, Ky area. 
        </p>
        <p>
            It has been my pleasure to develop software professionally since 2012. I'm a late arrival to the industry,
            having never really considered IT as a career path until I took a VB.NET class late into my coursework for Industrial Engineering. 
            There, I unexpectedly caught the desire to make this my life's work. 
        </p>
        <p>
            To reclaim lost time, I trained myself in C# and SQL, and now use this site for building my skills
            in web development and as a platform for displaying my other projects. My end goal is to learn to craft software that 
            is as delightful to use as it is helpful to its audience, built in such a way that quality is evident to both the user and the discerning 
            developer.
        </p>
        <p>
            I believe in trying to maintain a balanced life. When not coding, I enjoy banjo, singing, cooking, running, pizza, craft beer, Netflix, 
            and spending time with my lovely girlfriend.
        </p>
        <h4>Contact</h4>
        <p>
            I enjoy listening to advice from anyone who can help me on my way, and will do my best to help anyone who believes I can benefit them. If
            you would like to contact me, please send me an email at asbarg01@gmail.com.
        </p>
    </div>
</div>