<h2 class="pageHeaders">Resume</h2>
<div class="wideContentContainer">
    <div class ="wideContentSection">
        <h2 class="sectionName">Education</h2>
        <div class="wideSplitHeader">
            <h3 class="wideSplitHeaderLeft">Speed School of Engineering, University of Louisville</h3>
            <h4 class="wideSplitHeaderRight">August 2007 - May 2012</h4>  
        </div>
        <div class="wideSplitHeader">
            <h4 class="wideSplitHeaderLeft">B.S. in Industrial Engineering</h4>
            <h4 class="wideSplitHeaderRight">GPA: 3.6</h4>  
        </div>
        <p>
            The study of industrial engineering centers on efficiency and process control/improvement. Canonical topics include
            work design, operations research, design of experiments, statistical process control, facilities layout, and production control. 
        </p>
        <p>
            Although my lessons did not directly prepare me for an IT career, parallels between my course work and modern software practices abound. Object-oriented 
            programming, source control, and Agile patterns, for example, evolved to minify and structure the <em>process</em> of development in pursuit 
            of fast, low-cost, and defect-free product delivery. I believe my education conferred many soft skills and abstract design considerations desirable 
            in today's programmer.
        </p>
    </div>
    <div class="wideContentSection">
        <h2 class="sectionName">Skills</h2>
        <h4>Familiar</h4>
        <div class="fourColContainer4">
            <div class="fourColContainer3">
                <div class="fourColContainer2">
                    <div class="fourColContainer1">
                        <ul class="col1 resumeList">
                            <li>
                                C#.NET
                            </li>
                        </ul>
                        <ul class="col2 resumeList">
                            <li>
                                SQL Server
                            </li>
                        </ul>
                        <ul class="col3 resumeList">
                            <li>
                                TFS
                            </li>
                        </ul>
                        <ul class="col4 resumeList">
                            <li>
                                MVP Architecture
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h4>Developing</h4>
        <div class="fourColContainer4">
            <div class="fourColContainer3">
                <div class="fourColContainer2">
                    <div class="fourColContainer1">
                        <ul class="col1 resumeList">
                            <li>
                                ASP.NET MVC
                            </li>
                            <li>
                                Entity Framework
                            </li>
                        </ul>
                        <ul class="col2 resumeList">
                            <li>
                                HTML5/CSS3
                            </li>
                            <li>
                                Git
                            </li>
                        </ul>
                        <ul class="col3 resumeList">
                            <li>
                                JavaScript/jQuery
                            </li>
                        </ul>
                        <ul class="col4 resumeList">
                            <li>
                                Batch Scripting
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wideContentSection">
        <h2 class="sectionName">Career</h2>
        <div class="wideSplitHeader">
            <h3 class="wideSplitHeaderLeft">Software Management, LLC</h3>
            <h4 class="wideSplitHeaderRight">November 2013 - Present</h4>  
        </div>
        <h4 class="position">Software Developer</h4>
        <div>
            <h5>Company</h5>
            <p>
                Software Management is a long-standing Kentucky software firm serving county clerk's offices. We offer web and 
                desktop solutions for imaging (for land records, licenses, voter registration, etc.), point of sale, delinquent tax, 
                property tax, and data conversion.
            </p>
            <h5 class="jobRole">Primary Roles and Accomplishments</h5>
            <ul class="resumeList">
                <li>Wrote conversion classes for six new customers' delinquent tax data. Decreased run time of in-house conversion platform by ~50%</li>
                <li>
                    Wrote a class library to aid the conversion of customer images into our schema.
                </li>
                <li>
                    Devised a new system of data transfer for the yearly influx of new delinquent tax data. Significantly reduced the time 
                    required to extract data and deploy to site. 
                </li>
                <li>
                    Execute builds and product deployments
                </li>
            </ul>
            <div class="wideSplitHeader">
                <h3 class="wideSplitHeaderLeft">Homecare Homebase</h3>
                <h4 class="wideSplitHeaderRight">March 2012 - November 2013</h4>  
            </div>
            <h4 class="position">Software Technician - Financial Development</h4>
            <h5>Company</h5>
            <p>
                Homecare Homebase is a popular home health software vendor. The back office application allows users to track 
                not only patient data (medical records, billing, scheduling), but also worker data (mileage tracking, payroll, scheduling). 
                The mobile application assists nurses in data collection and workflow over the course of patient visits.
            </p>
            <h5 class="jobRole">Primary Roles and Accomplishments</h5>
            <ul class="resumeList">
                <li>
                    Solved high level support tickets requiring code inspection or complex data fixes. 
                    Many resulted in detailed bug reports.
                </li>
                <li>
                    Solved bug tickets covering portions of the application including
                    Medicare, commercial, and hospice billing, EDI 837 claim generation, accounting, 
                    payer changes, scheduling, payroll, and mileage reporting.
                </li>
                <li>
                    Implemented an enhancement allowing balance transfers to be undone by users without
                    intervention from customer support.
                </li>
                <li>
                    Assisted with a ‘lunch and learn’ program to provide on the job training for employees
                    wishing to improve their knowledge of the application.
                </li>
            </ul>
        </div>
    </div>
    <div class="wideContentSection">
        <h2 class="sectionName">Internships</h2>
        <div class="wideSplitHeader">
            <h3 class="wideSplitHeaderLeft">General Electric (Appliance Park)</h3>
            <h4 class="wideSplitHeaderRight">May 2010 - December 2010</h4>  
        </div>
        <h4 class="position">Scrap and Yield Co-Op, Laundry Care</h4>
        <h5 class="jobRole">Primary Roles and Accomplishments</h5>
        <ul class ="resumeList">
            <li>
                Tracked data on facility scrap and yield, prepared weekly and monthly presentations.
            </li>
            <li>
                Communicated daily with process improvement engineers to drive awareness of high dollar scrap items.
            </li>
            <li>
                Aided data collection in a new autopsy lab for critical washer components, including pressure 
                switches, water valves, control boards, and pumps.
            </li>
        </ul>
        <div class="wideSplitHeader">
            <h3 class="wideSplitHeaderLeft">General Electric (Appliance Park)</h3>
            <h4 class="wideSplitHeaderRight">January 2009 - May 2009, August 2009 - December 2009</h4>  
        </div>
        <h4 class="position">Quality Co-Op, Refrigeration</h4>
        <h5 class="jobRole">Primary Roles and Accomplishments</h5>
        <ul class="resumeList">
            <li>
                 Managed inspection team by directing response to daily quality issues and conducting weekly meetings to ensure uniform practices.
            </li>
            <li>
                 Participated in ISO quality audits in most plant areas - final assembly, 
                 liners, door and case fabrication, test and pack, and high sides.
            </li>
            <li> 
                Drove supplier quality for metal/plastic/paper parts and wire harnesses by providing direct feedback on defects.
            </li>
            <li> 
                Developed familiarity with injection molding, vacuum forming, and metal fabrication.
            </li>
            <li> 
                Developed familiarity with metrology techniques, including use of coordinate measuring machines.
            </li>
            <li> 
                Scheduled gauge calibrations.
            </li>
        </ul>
    </div>
</div>